.Load {
  max-width: 100%;
  width: 100%;
  height: 100vh;
  position: fixed;
  margin: 0 auto;
  z-index: 2000;
  opacity: 1;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  background-color: black;
  .video{
    opacity: 2;
  }
}

.LoadOff {
  display: none;
}
